body {
    text-align: center;
    background-color: rgb(71, 70, 70);
    color: white;
    font-weight: 700;
}

a {
    color: lime;
}

ol {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

img {
    height: auto;
    width: 200px;
}